<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Sign up</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/signup_style.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  </head>
  <body>
    <form class="sginup" action="http://localhost:5000/signup_success" method="post">
      <div class="signbox">
        <div class="id">
          <input type="text" name="name" placeholder="ID">
        </div>
        <div class="pw">
          <input type="password" name="pw" placeholder="Password">
        </div>
        <div class="pnum">
          <input type="number" name="phonenum" placeholder="Phone Number">
        </div>
        <div class="email">
          <input type="email" name="email" placeholder="E-Mail">
        </div>
        <input type="submit" name="check" value="Sign up">
      </div>
    </form>
  </body>
</html>
